include header

body
  div.container
    div.content
      div.right-side
        div.topic-text Cifrado de textos en español
        if error
          div.error-message
            p= error
        if formUsageCount > 3
          div.error-message
            p Ya no te quedan más intentos. Inicia sesión para continuar.
        else if !user
          p Cifrado de textos en español. Solo tienes #{3 - formUsageCount} intentos gratuitos. Después de usarlos tendrás que logearte para un acceso ilimitado.
        else
          p ¡Hola #{user.nombre} #{user.apellido_pat} alias #{user.username}! ¿Qué deseas encriptar hoy?
        form(action="/cifrar", method="post", onsubmit="return validarTexto()")
          div.input-box.message-box
            textarea(placeholder="Texto a cifrar...", name="texto-a-cifrar", id="texto-a-cifrar", required="", maxlength="5000")
          div.input-box
            select(name="algoritmo", id="algoritmo")
              option(value="cesar") Código César
              option(value="base") Base 64
              option(value="hexa") Hexadecimal
              option(value="binario") Binario
          div.input-box
            input(type="number", name="clave-cifrado", id="clave-cifrado", placeholder="Ingresa la clave de cifrado", min="0", max="27")
          button(type="submit", id="submit-btn", onclick="return validarTexto()") Convertir

script.
  const claveCifradoInput = document.getElementById('clave-cifrado');
  const algoritmoSelect = document.getElementById('algoritmo');

  algoritmoSelect.addEventListener('change', function() {
    const selectedAlgorithm = algoritmoSelect.value;
    if (selectedAlgorithm === 'cesar') {
      claveCifradoInput.style.display = 'block';
      claveCifradoInput.setAttribute('required', 'true');
      claveCifradoInput.setAttribute('max', selectedAlgorithm === 'cesar' ? '26' : '26');
    } else {
      claveCifradoInput.style.display = 'none';
      claveCifradoInput.removeAttribute('required');
    }
  });

  function validarTexto() {
    var algoritmoSeleccionado = document.getElementById('algoritmo').value;
    if ((algoritmoSeleccionado === 'cesar') && claveCifradoInput.value.trim() === '') {
      document.querySelector('.error-message').textContent = 'Ingresa la clave de cifrado';
      return false;
    }
    return true;
  }
